
:root {

    /* colors */
    --dark: #1f2937;
    --skyblue: #3882f6;
    --light: #E5E7EB;
    --clear: #F9FAF8;

    /* text*/
    --header-text: 24px;
    --hero-header-text: 18px;
    --hero-main-text: 48px;
    --information-header-text: 36px;
    --quote-text: 36px;
    
    
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

.body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}


.nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav-left {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-right {
    font-size: var(--hero-header-text);
    color: #E5E7EB;
}

/* hero section */

.hero {
    background-color: var(--dark);
    padding: 10px 20px 10px 120px;
}

.hero-content {
    margin: 125px 0px;
    display: flex;
    border: 1px solid red;
    color: var(--clear);
    justify-content: space-around;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
}

.hero-content button {
    width: 100px;
    padding: 5px;
    border-radius: 2px;
    background: var(--skyblue);
    color: var(--clear);
}

.hero-image-container img {
    height: 300px;
    width: 450px;
}
