
:root {
    --hero-bg: #1f2937;
    --footer-bg: #1f2937;
    --button-color: #3882f6;
    --header-color: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-color: #1f2937;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

