
:root {

    /* colors */
    --dark: #1f2937;
    --skyblue: #3882f6;
    --light: #E5E7EB;
    --clear: #F9FAF8;
    --white: #FFFFFF;

    /* text*/
    --header-text: 24px;
    --hero-header-text: 18px;
    --hero-main-text: 48px;
    --information-header-text: 36px;
    --quote-text: 36px;
    
    
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

.body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}


.nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav-left {
    font-size: 24px;
    color: var(--light);
}

.nav-right {
    font-size: var(--hero-header-text);
    color: var(--light);
}

/* hero section */

.hero {
    background-color: var(--dark);
    padding: 10px 20px 10px 120px;
}

.hero-content {
    margin: 125px 0px;
    display: flex;
    color: var(--clear);
    justify-content: space-around;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-content button {
    width: 125px;
    padding: 9px 18px;
    border-radius: 3px;
    background: var(--skyblue);
    color: var(--clear);
    margin-top: 100px;
    font-size: 14px;
    font-weight: bold;
}

.hero-image-container img {
    height: 300px;
    width: 550px;
}

.hero-main-text {
    font-size: var(--hero-main-text);
    font-weight: bold;
}

.hero-secondary-text {
    font-size: var(--hero-header-text);
}


/* image collection */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--white);
    padding-bottom: 100px;
}

.content h1 {
    font-size: 36px;
    font-weight: 900px;
    margin: 50px;
}

.image-collection {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

.image-content {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-content img {
    height: 150px;
    width: 150px;
    border: 5px solid var(--skyblue);
    border-radius: 5px;
}

.image-content p {
    padding-top: 5px;
}

/* quote section */

.quote {
    display: flex;
    flex-direction: column;
    background: var(--light);
    padding: 125px 200px;
}

.main-quote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}

.quote-name {
    text-align: right;
    margin-left: auto;
    font-size: 22px;
    font-weight: bold;
}

/* call to action */

.callToAction {
    display: flex;
    flex-direction: column;
    margin: 100px;
    justify-content: center;
    align-items: center;
}

.cta-contents {
    display: flex;
    background: var(--skyblue);
    border-radius: 5px;
    height: 150px;
    width: 1300px;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.cta-left {
    display: flex;
    flex-direction: column;
    color: white;
}

.cta-head {
    font-weight: bold;
    font-size: var(--header-text);
}

.cta-button {
    padding: 6px 30px;
    border-radius: 4px;
    color: white;
    background: var(--skyblue);
    border: 2px solid var(--white);
    font-size: 17px;
    font-weight: bold;
}

/* footer */

footer {
    background-color: var(--dark);
    color: white;
    text-align: center;
    padding: 25px 0;
}



